button{
position: absolute;     /* Mantém em cima da imagem */
  display: flex;
  flex-direction: row;    /* Força os botões a ficarem lado a lado */
  flex-wrap: wrap;        /* Se faltar espaço na tela, eles quebram a linha */
  justify-content: center;/* Centraliza o grupo de botões */
  gap: 15px;              /* Aumenta o espaço entre eles */
  width: 90%;
}
.containerButtuns{
  display: flex;
  justify-content: space-around; 
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%;
  background-color: #42445A; /* Fundo para não misturar com o texto */
  padding: 15px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil superior */
  
  /* Alinha os botões lado a lado */
  
}
#respostaApiText {
  
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;    /* Centraliza na vertical */
  position: relative;     /* Prepara para os botões ficarem por cima */
  width: 100%;
}
.logo{
  max-width: 100%;        /* Deixa a imagem responsiva */
  height: auto;
}
p{
  color: red;
}
body{
  background-size: cover;                /* Garante que a imagem cubra a tela toda */
  background-position: center;           /* Centraliza a imagem na tela */
  background-repeat: no-repeat;          /* Impede que a imagem fique se repetindo */
  background-attachment: fixed;
  background-image: url("/static/img/1000244649.png");
  background-color: black;
  background-position: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centraliza no eixo X (horizontal) */
  align-items: center;     /* Centraliza no eixo Y (vertical) */
}
/* Fixa a barra no final da tela */
#inputPrompt {
  
}

/* Margem inferior no conteúdo para o botão não cobrir os textos */
#inputPrompt{
  margin-bottom: 30px; 
}
h1 {
    /* O SEGREDO: O gradiente colorido */
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    
    /* Faz o fundo "cortar" no formato das letras */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Deixa a cor da letra transparente para o fundo aparecer */
    color: transparent;
    
    /* Animação igual a dos botões */
    animation: glowing-text 20s linear infinite;
    
    /* Estilo da fonte */
    font-family: sans-serif;
    text-align: center;
    margin: 20px 0;
}

/* Reutilizando sua lógica de animação */
@keyframes glowing-text {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}