<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
  <div id="respostaApiText">
    <button onclick="tratarPhishing()" class="matrix" type="button">Phishing Financeiro <div class="code-rain"></div></button>
    <button onclick="tratarDeepfakes()" class="matrix" type="button">Deepfakes <div class="code-rain"></div></button>
    <button onclick="tratarSmishing()" class="matrix" type="button">Smishing <div class="code-rain"></div></button>
    <button onclick="tratarEngenhariaSocial()" class="matrix" type="button">Engenharia Social <div class="code-rain"></div></button>
    <button onclick="tratarEngajamento()" class="matrix" type="button">Golpes de Engajamento <div class="code-rain"></div></button>
  </div>
  
  <div class="containerButtuns">
    <input id="inputImage" type="file" accept="image/*">
    <input type="text" id="inputPrompt" placeholder="Cole o texto ou link suspeito aqui...">
    <button type="submit" onclick="enviarParaServidor()">Enviar para Análise</button>
  </div>

 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <!-- Biblioteca para converter Markdown em HTML -->

</body>


</html>